@mixin f-fam ($fam, $color, $fz) {
	font-family: $fam;
	color: $color;
	font-size: $fz;
}

%sub-menu{
	position: absolute;
	left: 9%;
	top: 5px;
	padding-top: 10px;
	display: none;
	li{
		border-radius: 4px;
		padding: 2px;
		background-color: gray;
		&:hover {
			background-color: silver;
			color: black;
		}
	}
}

%btn-slider{
	z-index: 3;
	display: none;
	position: absolute;
	left: 5%;
	top: 50%;
	transform: translate(0%, -100%);
	width: 67px;
	height: 67px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	padding: 18px 0px;
	&:hover{
		cursor: pointer;
	}
}

header{
	position: relative;
	width: 1400px;
	height: 470px;
	margin: 0 auto;
	font-family: OpenSans;
	nav {
		width: 1400px;
		height: 43px;
		display: flex;
		margin: 0 auto 36px;
		padding: 16px 188px 14px;
		background-color: #4cb1ca;
		li{
			list-style: none;
			@include f-fam(OpenSans, #ffff, 13px);
			margin: 0;
			padding: 0;
			&:hover {
				cursor: pointer;
			}
		}
		.menu-2 {
			margin: 0 auto;
			width: 357px;
			height: 13px;
			display: flex;
			li{
				margin: 0px 4px 0px 0px;
				border-right: 1px solid #ffff;
			}
			a{
				text-decoration: none;
				margin: 0px 4px 0px 4px;
				@include f-fam(OpenSans, #ffff, 13px);
			}
			& :last-child{
				border-right: none;
			}
		}
	}
	h1{
		width: 180px;
		margin: 41px 59px 40px; 
		text-align: justify;
		font-size: 36px;
		 font-weight: bold;
		 letter-spacing: -0.9px;
		 color: #656565;
	}
	.nav2{
		position: absolute;
		left: 17%;
		top: 10%;
		display: flex;
		width: 346px;
		margin: 49px 42px 48px 48px;
		a{
			display: inline-block;
			text-decoration: none;
			font-size: 14px;
			color: #656565;
			margin: 0px 8px 0px 0px;
		}
	}
	.block-search{
		display: flex;
		width: 410px;
		height: 29px;
		position: absolute;
		right: 30%;
		top: 19%;
		input{
			margin: 0;
			&::placeholder {
				color: #b7b7b7;
				font-size: 13px;
			}
		}
		.btn-search{
			margin: 0px 20px 0px 0px;
			background-color: #fff;
			border: none;
			border-radius: 5px;
			transition: all 0.3s ease 0s;
			&:hover{
				cursor: pointer;
			}
			&:active{
				box-shadow: 3px 3px 5px #000;
				transform: translate(-3px , -2px);
				transition: all 0.3s ease 0s;
			}
		}
		.icon{
			position: relative;
			padding: 4px;
			margin: 0px 5px;
			background-color: green;
			width: 29px;
			height: 29px;
			border-radius: 50%;
			&:hover{
				cursor: pointer;
			}
		}
		.sale-count{
			position: absolute;
			right: 0;
			top: 0;
			transform: translate(50%, -50%);
			background-color: #22aa20;
		}
		span{
			display: block;
			width: 20px;
			height: 20px;
			background-color: rgba(192, 192, 192, 0.6);
			text-align: center;
			border-radius: 50%;
			padding: 2px 0px;
			margin: 0;
			@include f-fam(OpenSans, #fff, 14px);
			transform: translate(-45%, -50%);
		}
		.in-cart{
			background-color: red;
			@include f-fam(OpenSans, #fff, 14px);
			font-weight: 700;
		}
	}
	.slider{
		width: 1400px;
		height: 300px;
		position: relative;
		left: 0;
		bottom: 0;
		overflow: hidden;
		.img-slide{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 1400px;
			height: 300px;
		}
		.btn-slider-left{
			@extend %btn-slider;
		}
		.btn-slider-right{
			@extend %btn-slider;
			left: 90%;
		}
		.slide-txt{
			position: absolute;
			left: 15%;
			top: 30%;
			display: inline-block;
			color: #fff;
			font-size: 20px;
			background-color: rgba(0, 0, 0, 0.5);
			padding: 3px 10px;
		}
		.txt2{
			top: 40%;
			font-weight: 700;
			letter-spacing: 2px;
		}
		&:hover .btn-slider-left{
			display: block;
		}
		&:hover .btn-slider-right{
			display: block;
		}
		& :nth-child(3) {
			transform: translate(100%, 0%);
		}
	}
	.dote{
		position: absolute;
		left: 50%;
		bottom: -8px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		border: 2px solid silver;
		background-color: #0012ff;
	}
	.dote-2{
		left: 51%;
		background-color: #fff;
	}
}

/*------------- MEDIA -----------*/

@media (min-width: 767px) {
	header{
		max-width: 767px;
		max-height: 370px;
		nav{
			max-width: 767px;
		}
		.slider{
			max-width: 767px;
			max-height: 200px;
		}
		.img-slide{
			max-width: 768px;
			max-height: 200px;
		}
		h1{
			font-size: 22px;
			margin: 20px; 
		}
		.nav2{
			left: 12%;
			top: 7%;
		}
		.block-search{
			max-width: 365px;
			right: 0;
			top: 15%;
		}
	}
}